
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<div class="container">
  {% block content %}
    <div class="main">
        {% for data in dataset %}
            <p>
            {% for key, val in data.items %}
                <h4>{{ key }} : {{ val }}</h4>
            {% endfor %}
            </p>
            <h4>----------------------------------</h4>
        {% endfor %}

    </div>
  {% endblock %}
</div>
</body>
</html>