
{% extends 'base.html' %}
{% block title %}Liste des sous réseau par département{% endblock %}
{% block content %}
<div class="container p-5 my-5 border">
    <div class="card-header">
        <h1 class="text-center" style="font-family: cursive; color: rgb(118, 155, 118);">Liste des sous-réseaux par département</h1>
    </div>
    {% for data in dataset1 %}
        <p>
        {% for key, val in data.items %}
            <h4>{{ key }} : {{ val }}</h4>
        {% endfor %}
        </p>
        <!-- Grey -->
        <div class="progress">
            <div class="progress-bar bg-dark" style="width:100%"></div>
        </div>
    {% endfor %}
</div>
{% endblock %}