{% extends 'base.html' %}
{% block content %}
<div class="main">
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        
        <div class="alert alert-danger alert-dismissible fade show">
            <strong>Voulez-vous vraiment supprimer cette departement ?</strong>
        </div>
        <input type="submit" class="btn btn-danger" value="Oui" />
        <a href="/" class="link-primary">Annuler </a>
    </form>
</div>
{% endblock %}
