{% extends 'base1.html' %}
{% load static %}
{% block title %}Inscription{% endblock %}
{% block content %}
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="{% static 'myapp/img/singup.webp' %}"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form method="POST">
          <div class="fw-normal mb-3 pb-3">
            <h3 class="card-title">S'inscrire</h3>
          </div>
          <!-- Email input -->
          <div class="form-outline mb-4">
            {% csrf_token %}
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            {% for field in form4 %}
            <p>
              {{ field.label_tag }}<br>
              {{ field }}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}
              {% endfor %}
              </p>
            {% endfor %}
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Créer un compte</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
<style>
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
</style>
{% endblock %}
