{% extends 'base.html' %}
{% block content %}
<div class="container-fluid d-flex justify-content-center">
    <div class="row my-5">
        <div class="col-md-12">
            <!-- Create a Form -->
            <form method="POST" class="form">
                <!-- Security token by Django -->
                {% csrf_token %}

                <!-- form as paragraph -->
                {{ form3.as_p }}

                <input type="submit" class="btn btn-success" value="Modifier">
            </form>
        </div>
    </div>
</div>
{% endblock %}